<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <springProperty scope="context" name="airbrakeEnabled" source="airbrake.enabled" defaultValue="false"/>
    <springProperty scope="context" name="airbrakeProjectKey" source="airbrake.project-key"/>
    <springProperty scope="context" name="airbrakeEnv" source="airbrake.env"/>
    <springProperty scope="context" name="airbrakeHost" source="airbrake.host"/>
    <springProperty scope="context" name="airbrakeApiPath" source="airbrake.api-path"/>


    <appender name="AIRBRAKE" class="net.anthavio.airbrake.AirbrakeLogbackAppender">
        <enabled>${airbrakeEnabled}</enabled>
        <apiKey>${airbrakeProjectKey}</apiKey>
        <env>${airbrakeEnv}</env>
        <url>${airbrakeHost}${airbrakeApiPath}</url>
        <!-- Notify all log events even if they do not contain an instance of Throwable -->
        <notify>ALL</notify>
        <!-- Only log error -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="AIRBRAKE"/>
    </root>
</configuration>
